{{ define "main" }}
	{{ with .Site.RegularPages.Prev . }}
		<a href="{{ .RelPermalink }}" rel="prev">&laquo; Previous post: <i>{{ partial "content.html" .Title }}</i></a>
	{{ end }}
	{{ with .Site.RegularPages.Next . }}
		<a href="{{ .RelPermalink }}" rel="next" style="float: right">Next post: <i>{{ partial "content.html" .Title }}</i> &raquo</a>
	{{ end }}
	<br><br>
	{{ if and (ne .Params.toc "false") (or (eq .Params.toc "true") (gt .WordCount 400)) }}
	<aside>
		<details>
			<summary>Table of Contents</summary>
			{{ .TableOfContents }}
			<hr>
		</details>
	</aside>
	{{ end }}
	<main>
		<article>
			<header>
				<h1>{{ partial "content.html" .Title }}</h1>
				{{ partial "metadata.html" . }}
			</header>
			<br>
			<div id="main">{{ partial "content.html" .Content }}</div>
		</article>
	</main>
{{ end }}
