{{ define "main" }}
	{{ with .Site.RegularPages.Prev . }}
		<a href="{{ .RelPermalink }}" rel="prev">&laquo; Previous post: <i>{{ .Title }}</i></a>
	{{ end }}
	{{ with .Site.RegularPages.Next . }}
		<a href="{{ .RelPermalink }}" rel="next" style="float: right">Next post: <i>{{ .Title }}</i> &raquo</a>
	{{ end }}
	<br><br>
	{{ if and (ne .Params.toc "false") (or (eq .Params.toc "true") (gt .WordCount 400)) }}
	<aside>
		<details>
			<summary>Table of Contents</summary>
			{{ .TableOfContents }}
			<hr>
		</details>
	</aside>
	{{ end }}
	<article>
		<header>
			<h1>{{ .Title }}</h1>
			{{ partial "metadata.html" . }}
		</header>
		<br>
		{{ partial "content.html" .Content }}
	</article>
{{ end }}
