{{ $pag := . }}
{{ $scratch := newScratch }}
{{ if gt $pag.TotalPages 1 }}
{{ $scratch.Set "dot_rendered" false }}
<nav aria-label="page navigation">
        {{ if and (ne $pag.PageNumber 1) (ne $pag.PageNumber 2) }}
        <a href="{{ $pag.First.URL }}" rel="first">« First</a>
        {{ end }}
        {{ if $pag.HasPrev  }}
        <a href="{{ $pag.Prev.URL }}" rel="prev" class="page-link">‹ Prev</a>
        {{ end }}
        {{ range $pag.Pagers }}
            {{ if eq . $pag }}
	    {{ .PageNumber }}
            {{ else if and (ge .PageNumber (sub $pag.PageNumber 2)) (le .PageNumber (add $pag.PageNumber 2)) }}
            {{ $scratch.Set "dot_rendered" false }}
            <a href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ else if eq ($scratch.Get "dot_rendered") false }}
            {{ $scratch.Set "dot_rendered" true }}
            &hellip;
            {{ end }}
        {{ end }}
        {{ if $pag.HasNext }}
        <a href="{{ $pag.Next.URL }}" rel="next" class="page-link">Next ›</a>
        {{ end }}
        {{ if and (ne $pag.PageNumber $pag.TotalPages) ((ne $pag.PageNumber (sub $pag.TotalPages 1))) }}
        <a href="{{ $pag.Last.URL }}" rel="last" class="page-link">Last »</a>
        {{ end }}
</nav>
{{ end }}
